doctype html
html
  head
    title TLE
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand= "TLE"

    .container
      table.table.table-striped
        thead
          tr
            th id
            th Submitter
            th Jid
            th accepted
            th submissions
        tbody
          each user in users
            tr
              td= user.id
              td= user.username + "  (" + user.name + ")"
              td= user.userJid
              td= user.acceptedProblem
              td= user.totalSubmission