doctype html
html
  head
    title TLE
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand= "TLE"
    .container
      h1 Recent Submission
      table.table.table-striped
        thead
          tr
            th user
            th problem
            th verdict
            th score
            th time
        tbody
          each submission in submissions
            tr
              td= submission.username
              td= submission.problemSlug
              td= submission.verdictName
              td= submission.score
              td= submission.submitTime

    hr
    .container
      .text-center
        h1 Next Problem to Solve
      table.table.table-striped
        thead
          tr
            th id
            th Problems
            th Accepted User
            th Total Submissions
            th Accepted Submissions
        tbody
          each problem in problems
            tr
              td= problem.id
              td= problem.slug
              td= problem.acceptedUser
              td= problem.totalSubmission
              td= problem.acceptedSubmission

    hr
    .container
      .text-center
        h1 Top User
      table.table.table-striped
        thead
          tr
            th id
            th Submitter
            th accepted
            th total submissions
            th accepted submissions
        tbody
          each user in users
            tr
              td= user.id
              td= user.username + "  (" + user.name + ")"
              td= user.acceptedProblem
              td= user.totalSubmission
              td= user.acceptedSubmission

    hr
    .container
      .row
        .col-sm-4
          h2 New Problem
          table.table.table-striped
            thead
              tr
                th id
                th Problem
            tbody
              each problem in newProblems
                tr
                  td= problem.id
                  td= problem.slug
        .col-sm-4
          h2 Top Problem
          table.table.table-striped
            thead
              tr
                th id
                th Problem
                th sub
                th AC sub
            tbody
              each problem in popularProblems
                tr
                  td= problem.problem_id
                  td= problem.problem_slug
                  td= problem.submission_count
                  td= problem.accepted_submission_count
        .col-sm-4
          h2 Most Active User
          table.table.table-striped
            thead
              tr
                th username
                th new AC
                th sub
                th AC sub
            tbody
              each user in activeUsers
                tr
                  td= user.username
                  td= user.new_accepted_problem_count
                  td= user.submission_count
                  td= user.accepted_submission_count
